.Card{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width: 20%;
    
    
    color: rgb(255, 164, 45);
    
}

.Picture{
    height: 300px;
    box-shadow: 5px 5px 15px rgb(255, 164, 45);
}

.fas{
    margin-right: 20 px;
    width: 15%;
}