.popupmovie {
  color: rgb(0, 0, 0);
  background-color:rgb(255, 145, 0);
  height: 25px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}

.popupmovie:hover {
  color: white;
}

.container{
  background-image: url('https://st3.depositphotos.com/4687155/16112/v/600/depositphotos_161129602-stock-video-time-lapsefull-moon-at-cloudy.jpg');
  background-size: cover;
  color: rgb(255, 136, 0);
  border:none;
}
.container h2 {
  color: white;
}

.popup-content {
  border: 1px solid rgb(255, 115, 0) !important;
  background: none !important;
  padding: 0 !important;
}

.container {
  padding: 10px 20px 20px 20px;
}
